*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer{
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: aquamarine;
}
.img img{
    width: 100px;
    position: fixed;
    transform: translate(-20%,-15%);
}
.inner{
    display: flex;
    width: 70%;
    height: 100%;
    background-color: black;
}
.key{
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 1rem;
    border-radius: 0px 0px 50px 50px;
    border: 2px solid black;
    height: 100%;
    flex-shrink: 1;
    width: 5.4rem;
    background-color: white;
}
